body {
  background-color: white;
}

.containerColor {
  margin-top: 50px;
  background-color: lightblue;
  border-radius: 10px;
}

h1 {
  padding: 20px;
}

label {
  padding-bottom: 10px;
}

p {
    padding-bottom: 15px;
    padding-top: 5px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.colPad {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

